<app-alerta #alertComponent></app-alerta>
<body>
    <div class="container">
        <div class="box encryption">
            <div class="title">Encriptación</div>
            <div class="input-group file-upload">
                <input type="file" (change)="handleFileInput($event)" id="file-upload" class="file-input">
                <label for="file-upload" class="file-label">Seleccionar el .txt</label>
                <div class="file-name">Archivo Cargado: {{ fileName }}</div>
            </div>
            <div class="input-group file-content">
                <textarea [(ngModel)]="contenidoTxt" placeholder="Contenido del .txt" readonly onmousedown="return false;" onselectstart="return false;"></textarea>
            </div>
            <div class="input-group encrypted-content">
                <textarea [(ngModel)]="resultadoTxt" placeholder="Resultado" readonly onmousedown="return false;" onselectstart="return false;"></textarea>
            </div>
            <div>
                <a href="#" class="descargar-link" (click)="descargarTxt()">Descargar .txt</a>
            </div>
        </div>
        <div class="box options">
            <div class="title">Opciones</div>
            <button (click)="procesarArchivo('encriptarRSA')">Encriptar RSA</button>
            <button (click)="procesarArchivo('desencriptarRSA')">Desencriptar RSA</button>
            <button (click)="procesarArchivo('encriptarAES')">Encriptar AES</button>
            <button (click)="procesarArchivo('desencriptarAES')">Desencriptar AES</button>

            <img src="https://blog.powerdata.es/hs-fs/hubfs/iStock-524882074.jpg?width=698&name=iStock-524882074.jpg" id="animated-image">
        </div>
    </div>
</body>